<div class="row text-center">
        <div class="col-md-6 offset-3">
            <h1 class="text-info">There is an error with your action ("an empty object reference")</h1>
                <hr />
             <a class="btn btn-outline-primary"  asp-controller="Home" asp-action="Index">Home Page</a>
        </div>

</div>